.article-container {
  background-color: floralwhite;
  overflow-y: auto;
  display: block;
  .article-title {
    text-align: center;
    padding: 10px;
  }
  .article-main {
    margin: 0px 10px;
    .article-content {
      p {
        margin: 10px 0px;
        text-indent: 2rem;
      }
      p:first-of-type {
        margin-top: 0px;
      }
      .video-container {
        text-align: center;
        video {
          width: 72%
        }
      }
    }
    .article-footer {
      font-style: italic;
      text-align: right;
      padding: 1rem 2rem;
    }
  }
}
