.article-info-container {
  display: grid;
  grid-template-columns: auto 20px;
  padding: 5px;
  .article-info-basic {
    cursor: pointer;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    "title title"
    "locale locale"
    "author time";
    .grid-cell {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .grid-cell-small {
      font-size: 0.75em;
      font-style: italic;
    }
    .grid-hide {
      height: 0px;
    }
    .grid-show {
      height: 23px;
    }
    .grid-title {
      grid-area: title
    }
    .grid-author {
      grid-area: author;
    }
    .grid-time {
      grid-area: time;
    }
    .grid-locale {
      grid-area: locale;
      display: flex;
      justify-content: left;
      transition: height 0.5s;
      .icon {
        margin: 4px;
        width: 20px;
        transition: transform 0.5s
      }
      .icon:hover {
        transform: scale(1.25);
      }
      .selected {
        outline: 2px solid dodgerblue;
      }

    }
  }
  .article-info-locale-select {
    img {
      width: 20px;
      cursor: pointer;
      transition: transform 0.5s
    }
    img:hover {
      transform: scale(1.25);
    }
  }
}

.article-info-container:not(.article-info-container-selected):hover {
  background-color: ghostwhite;
}

.article-info-container-selected {
  background-color: aliceblue;
}