.dropdown-container {
  display: inline-block;
  position: relative;
  .dropdown-current-item {
    cursor: pointer;
  }
  .dropdown-list {
    position: absolute;
    top: 0px;
    left: 24px;
    margin: 0px;
    list-style: none;
    padding: 0px;
    .dropdown-list-item {
      cursor: pointer;
    }
    .dropdown-list-item:hover {
      transform: scale(1.25);
    }
  }
  .dropdown-list-hide {
    display: none;
  }
}