.app-main-container {
  background-color: floralwhite;
  display: grid;
  grid-template-columns: calc(min(20vw, 200px)) 1fr;
  height: calc(100vh - 30px);
  overflow-x: hidden;
  .right-content-container {
    z-index: 0;
    transition: transform 0.5s ease, width 0.5s ease;
    width: calc(100%);
  }
}

.hide-sidelist {
  .side-list-container {
    transform:translateX(calc(0px - min(20vw, 200px)));
  }
  .right-content-container {
    width:calc(100% + min(20vw, 200px));
    transform:translateX(calc(0px - min(20vw, 200px)));
  }
}
