.app-main-view-container {
  background-color: floralwhite;
  overflow-y: auto;
  height: calc(100vh - 30px);
  .loading-container {
    display: flex;
    justify-content: center;
    height: 100%;
    img {
      width: 40%;
    }
  }
}
