.side-list-container {
  background-color: white;
  position:relative;
  border-right: 1px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 30px);
  transition: all 0.5s ease;
  z-index: 1;
  .side-list-toggle {
    position: absolute;
    right: -27px;
    top: 4px;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
    opacity: 0.2;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .side-list-toggle:hover {
    opacity: 1;
  }
  .side-list-info {
    overflow-y: auto;
  }
}
